.sponsor-container {
  width: 100%;
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0;
}

.sponsor-heading-container {
  width: 100%;
  border-radius: 40px 40px 0px 0px;
  background-color: var(--c-reddish-orange);
  color: var(--c-white);
  text-align: center;
  margin: 0;
}

.sponsor-heading-text {
  padding: 0.1rem;
}

.sponsor-body-container {
  min-height: 305px;
  background-color: var(--c-white);
  margin: 0;
  padding-top: 2rem;
  width: 100%;
  border-radius: 0px 0px 40px 0px;
}

.sponsor-first-row {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.sponsor-first-row-element {
  width: 150px;
  height: 67px;
  position: relative;

  @media (max-width: 600px) {
    width: 109px;
    height: 48px;
  }
}

.sponsor-grid {
  display: grid;

  grid-template-columns: repeat(auto-fill, 80px);
  grid-gap: 20px;

  justify-content: center;
  margin: 1.5rem 1rem;
}

.sponsor-grid-element {
  width: 82px;
  height: 37px;
  position: relative;
}
