body {
  background-color: var(--c-royal-blue);
  font-family: var(--primary-font);
  color: var(--c-white);
}

a {
  color: var(--c-white);
}

a:hover {
  color: var(--c-reddish-orange);
  transition: 0.3s;
}
