.main-heading {
  font-weight: var(--x-bold);
  font-size: var(--v-large);
  width: 11ch;
  line-height: 5.4rem;
}

.main-heading-red-letters {
  color: var(--c-reddish-orange);
}

.date-heading {
  font-weight: var(--bold);
  font-size: var(--large);
  width: 10ch;
  line-height: 2.8rem;
  margin: 0;
  margin-left: 1.4rem;
}


.sign-up-label {
  font-family: var(--secondary-font);
  font-size: var(--medium);
  font-style: normal;
  font-weight: 500;
}

.tickets {
  background-color: var(--c-white);
  color: var(--c-royal-blue);
  border: solid 4px var(--c-reddish-orange);
  border-radius: 40px;
  font-size: var(--medium);
  align-self: baseline;
  font-weight: var(--bolder);
  cursor: pointer;
  padding: 10px;
  text-decoration: none;
  margin-top: 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: var(--c-royal-blue);
  width: 100%;
  max-width:350px;
}

.tickets svg {
  width: 0.75em;
  width: 1cap;
  height: 0.75em;
  height: 1cap;
  margin-inline-start: 0.6rem;
  fill: inherit;
}

.tickets:hover {
  background-color: var(--c-reddish-orange);
  color: var(--c-white);
  fill: var(--c-white);
  border-color: var(--c-white);

}

.sign-up-button:hover {
  color: var(--c-white);
  transition: 0.5s;
}

.sign-up-input-field {
  font-size: var(--v-small);
  height: 100%;
  padding: 0;
  width: 69%;
  border: none;
  padding-left: 1.5rem;
}

.main-container {
  display: flex;
  justify-content: space-evenly;

  margin: 2.5rem 2rem 0 2rem;
  column-gap: clamp(1.13rem, calc(-1.09rem + 11.09vw), 3.5rem);
  flex-wrap: wrap;
}
.left-container {
  display: flex;
  flex-direction: column;
  max-width: 55ch;
  flex: 1;
}

.right-container {
  margin-top: 2.8rem;
  max-width: 55ch;
  flex: 1;
}

.text-container {
  width: inherit;
  font-family: var(--secondary-font);
  font-size: var(--v-small);
  font-weight: var(--light);
  line-height: 20px;
}

.text-container p {
  line-height: 1.3;
}
.location-container {
  display: flex;
  margin-bottom: 1.5rem;
}

.map-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.1rem;
}

.circle::before {
  content: "";
  width: 61px;
  height: 61px;
  background: var(--c-reddish-orange);
  border-radius: 50%;
  position: fixed;
  right: -17px;
  bottom: 256px;
  z-index: -1;
}

.circle::after {
  content: "";
  width: 41px;
  height: 41px;
  background: var(--c-reddish-orange);
  border-radius: 50%;
  position: fixed;
  right: 40px;
  bottom: 221px;
  display: block;
  z-index: -1;
}

.privacy {
  font-family: var(--secondary-font);
  font-size: var(--v-small);
  font-weight: var(--bold);
  color: var(--c-white);
  border-bottom: var(--c-white) 1px solid;
  text-decoration: none;
}

.sign-up-form {
  margin-top: 2rem;
}

.privacy-container {
  margin-top: 1rem;
  margin: 1.5rem clamp(0.5rem, calc(-3rem + 11.09vw), 4rem);
}

.social-media-container {
  display: none;
}
.social-media-mobile-container {
  display: flex;
  margin-top: 2rem;
  align-items: center;
}

.social-media-cta-text {
  font-size: var(--small);
}





.social-media-image {
  margin-right: 1rem;
}

.social-media-image:active {
  outline: dashed white;

}
 

.quote {
  background-color: var(--c-white);
  color: var(--c-royal-blue);
  font-size: var(--large);
  padding: 1.5rem;
  line-height: 1.2;
}

.quote p {
  margin: 0;
}

.quote-author {
  font-size: var(--v-small);
  margin-top: 1.5rem;
  color: var(--c-dark-grey);
}

@media (min-width: 1000px) {
  .social-media-container {
    display: flex;
    align-items: center;
  }
  .social-media-mobile-container {
    display: none;
  }
}

@media (max-width: 600px) {
  .main-container {
    margin: 2rem 0.5rem 0 2rem;
  }

  .right-container {
    width: 100%;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    margin-top: 1rem;
    flex: 1;
    max-width: 55ch;
  }

  .left-container {
    width: 100%;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    max-width: 55ch;
    flex: 1;
  }

  .text-container {
    line-height: 2rem;
    width: 100%;
  }

  .social-media-cta-text {
    font-size: var(--m-small);
  }

  .main-heading {
    font-size: var(--m-v-large);
    line-height: 3rem;
  }

  .date-heading {
    font-size: var(--m-medium);
    line-height: 2rem;
  }
}

@media (max-width: 360px) {
  .quote {
    margin: 0;
  }
}
