.main-heading {
  font-weight: var(--x-bold);
  font-size: var(--v-large);
  width: 11ch;
  line-height: 5.4rem;

  @media (max-width: 600px) {
    font-size: var(--m-v-large);
    line-height: 3rem;
  }
}

.main-heading-red-letters {
  color: var(--c-reddish-orange);
}

.date-heading {
  font-weight: var(--bold);
  font-size: var(--medium);
  width: 8ch;
  line-height: 2.8rem;
  margin: 0;
  margin-left: 1.4rem;

  @media (max-width: 600px) {
    font-size: var(--m-medium);
    line-height: 2rem;
  }
}

.sign-up-label {
  font-family: var(--secondary-font);
  font-size: 1.9rem;
  font-style: normal;
  font-weight: 500;

  @media (max-width: 600px) {
    font-size: var(--m-small);
    line-height: 2rem;
  }
}

.sign-up-button {
  background-color: var(--c-reddish-orange);
  color: var(--c-dark-grey);
  border: none;
  font-size: var(--small);
  font-family: var(--primary-font);
  height: 100%;
  width: 25%;
  align-self: baseline;
  font-weight: var(--bolder);
  @media (max-width: 600px) {
    width: 33%;
    font-size: var(--small);
  }
}
.submit-container {
  height: 3.1rem;
  margin-top: 1.5rem;
  width: 100%;
  display: flex;
}

.sign-up-input-field {
  font-size: var(--v-small);
  height: 100%;
  padding: 0;
  width: 69%;
  border: none;
  padding-left: 1.5rem;

  @media (max-width: 600px) {
    padding-left: 0.5rem;
  }
}

.twitter-cta-text {
  font-size: var(--small);
  @media (max-width: 600px) {
    font-size: var(--m-vsmall);
  }
}

.twitter-link {
  text-decoration: none;
  border-bottom: var(--c-white) 0.01rem solid;
  color: var(--c-white);
}

.twitter-image {
  margin-right: 2rem;
}

.main-container {
  display: flex;
  justify-content: space-evenly;
  margin: 7rem 2rem;
  column-gap: clamp(1.13rem, calc(-1.09rem + 11.09vw), 7.5rem);
  flex-wrap: wrap;
  @media (max-width: 600px) {
    margin: 2rem 0.5rem;
  }
}

.right-container {
  margin-top: 7rem;

  @media (max-width: 600px) {
    width: 100%;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    margin-top: 3rem;
  }
}

.left-container {
  @media (max-width: 600px) {
    width: 100%;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
  }
}

.text-container {
  width: 55ch;
  font-family: var(--secondary-font);
  font-size: var(--v-small);
  font-weight: var(--light);
  line-height: 20px;

  @media (max-width: 600px) {
    line-height: 2rem;
    width: 28ch;
  }
}
.location-container {
  display: flex;
  margin-bottom: 1.5rem;
}

.map-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.1rem;
}

.twitter-container {
  display: flex;
  align-items: center;
  margin-top: 8rem;

  @media (max-width: 600px) {
    margin-top: 2rem;
  }
}

.circle::before {
  content: "";
  width: 10vh;
  height: 10vh;
  background: var(--c-reddish-orange);
  border-radius: 50%;
  position: fixed;
  right: -17px;
  bottom: 42px;
}

.circle::after {
  content: "";
  width: 7vh;
  height: 7vh;
  background: var(--c-reddish-orange);
  border-radius: 50%;
  position: fixed;
  right: 70px;
  bottom: -20px;
}

@media (max-width: 1000px) {
  .circle::before {
    content: "";
    width: 6vh;
    height: 6vh;
    background: var(--c-reddish-orange);
    border-radius: 50%;
    position: fixed;
    right: -17px;
    bottom: 256px;
  }

  .circle::after {
    content: "";
    width: 4vh;
    height: 4vh;
    background: var(--c-reddish-orange);
    border-radius: 50%;
    position: fixed;
    right: 40px;
    bottom: 221px;
    display: block;
  }
}

.privacy {
  font-family: var(--secondary-font);
  font-size: var(--v-small);
  font-weight: var(--bold);
  color: var(--c-white);
  border-bottom: var(--c-reddish-orange) 0.13rem solid;
  text-decoration: none;
  display: none;

  @media (max-width: 420px) {
    display: block;
    width: 12ch;
    margin-top: 4rem;
  }
}
